# TF files
.terraform
*.lock.hcl
*.tfstate.backup
terraform.tfstate

# Pychache files
__pycache__

# .pem files
*.pem

# .env files
*.env

# .DS_Store
*.DS_Store

# Manual scripts
src/manual/manual.py
src/manual/scripts.py